<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListCustomer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h3>Tour</h3>
    <p>
        <a th:href="@{/tours/create}" class="btn btn-primary">
            Add new customer
        </a>
    </p>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Code</th>
            <th>Destination</th>
            <th>Start</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${tours}">
            <td th:text="${row.getCode()}"></td>
            <td th:text="${row.getDestination()}"></td>
            <td th:text="${row.getStart()}"></td>
            <td>
                <img th:src="${row.getImg()}" alt="Image" style="width: 100px; height: auto;"/>
            </td>
            <td>
                <a th:href="@{/tours/{id}/edit(id=${row.getId()})}" class="btn btn-warning btn-sm">Edit</a>
            </td>
            <td>
                <a th:href="@{/tours/{id}/delete(id=${row.getId()})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
            <td>
                <a th:href="@{/tours/{id}/view(id=${row.getId()})}" class="btn btn-info btn-sm">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
