<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h3>View Customer</h3>
    <p>
        <a th:href="@{/tours}" class="btn btn-secondary">
            Back to customer list
        </a>
    </p>
    <div id="detail" class="mt-4">
        <div class="cus-detail mb-3">
            <strong>Code:</strong>
            <span th:text="${tour.code}"></span>
        </div>
        <div class="cus-detail mb-3">
            <strong>Destination:</strong>
            <span th:text="${tour.destination}"></span>
        </div>
        <div class="cus-detail mb-3">
            <strong>Start:</strong>
            <span th:text="${tour.start}"></span>
        </div>
        <div class="cus-detail mb-3">
            <strong>Img:</strong>
            <span th:text="${tour.img}"></span>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
